.SigContainer {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px gray solid;
  /* border-radius: 10px; */
  width: 100%;
  height: 15vh;
  display: inline-flex;
}
@media only screen and  (max-width: 480px) {
  .SigContainer {
    height: 16vh;
  }
  }
.SigPad {
  width: 100%;
  height: 100%;
} 
.btn{
  align-self: center;
  width: 20px;
}
.cancel{
  color:red;
}