

.drop { /* stylelint-disable */
  border: 2px dashed var(--buttonHoverColor);
  width: 100%;
  text-align: center;
  padding: 2em;
  margin-top: 1em;
  cursor: pointer;
  transition: 0.25s all;
  display:none;
}

.drop:hover {
  border-color: var(--buttonPressedColor);
  background: var(--containerBackground);
}

.drag {
  border: 2px solid var(--buttonPressedColor);
  background: var(--containerBackground);
  width: 100%;
  text-align: center;
  padding: 2em;
  margin-top: 1em;
  cursor: pointer;
}
.img{
  width: 70px;
}

.space {
  margin-top: 1.5em;
}

.ImageUpload {
  padding: 0px !important;
}

.label {
    display: flex;
    align-items: center;
}
.title
{
  /*text-align: center;*/
  display: flex;
  align-items: center;
}

.statusInfo {
  margin-top: 10px;
}