

.textarea { /* stylelint-disable */
    height: 2.8em;
    background: #EFEFEF;
    border: transparent;
    /* text-align: 'center !important'; */
} 

.DatePicker .react-datepicker-wrapper input[type="text"]{ /* stylelint-disable */
  border: none;
  border-bottom: 1px solid #c8c8c8 !important;
  width:100%;
  color: gray;
  text-indent: 0px;
  /* height: 31px; */
  width: '75%';
  text-align: center !important;
  font-size: 18px;
}

input:focus{
  outline: 0 !important;
}

.react-datepicker-wrapper input[type="text"]:active{
  border: none;
}

input[type="text"]:active{
  border: 0;
}

.react-datepicker {
  font-size: 1.1rem !important;
}
.DatePicker .react-datepicker__input-container 
{
  display: block !important;
}
.react-datepicker__current-month {
  font-size: 1.0rem !important;
  color: #ea6225 !important;
}

.react-datepicker__header {
  padding-top: 6px !important;
}

  .react-datepicker__day-name, .react-datepicker__day {
  margin: 0.2rem !important;
}
.react-datepicker__year-select
{ font-size: 1.0rem !important;
  border: none ;
  margin-left: 6px !important;
  background: #f0f0f0;
}
.react-datepicker__month-select
{ font-size: 1.0rem !important;
  border: none !important;
  margin-right: 8px !important;
  background: #f0f0f0;

}
.react-datepicker__day
{
  color:#ea6226 !important;
  font-weight: 550 !important;
}
.react-datepicker__day--outside-month { 
  color: gray !important;
  pointer-events: none !important;
} 
.react-datepicker__day--selected
{
    background-color: bisque !important;
}

.react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected, .react-datepicker__year-text--keyboard-selected {
    border-radius: 0.3rem;
    background-color: bisque !important;
    color: #fff;
}
