

.DatePicker1 .react-datepicker-wrapper .react-datepicker__input-container input[type="text"]{ /* stylelint-disable */
    border: none;
    /* border-bottom: 1px solid #c8c8c8 !important; */
    width:100%;
    color: gray;
    text-indent: 0px;
    height: 48px;
    font-size: 16px;
}
.DatePicker1 .react-datepicker__triangle {
  left: -50px !important;
}
.react-datepicker {
    font-size: 1.1rem !important;
  }
  .DatePicker1 .react-datepicker__input-container 
  {
    border-bottom: 1px solid #c8c8c8!important;
      height: 50px;
    display: block !important;
  }
  .react-datepicker__current-month {
    font-size: 1.0rem !important;
    color: #ea6225 !important;
  }
  
  .react-datepicker__header {
    padding-top: 6px !important;
  }
  
   .react-datepicker__day-name, .react-datepicker__day {
    margin: 0.2rem !important;
  }
  .react-datepicker__year-select
  { font-size: 1.0rem !important;
    border: none ;
    margin-left: 6px !important;
    background: #f0f0f0;
  }
  .react-datepicker__month-select
  { font-size: 1.0rem !important;
    border: none !important;
    margin-right: 8px !important;
    background: #f0f0f0;
  
  }
  .react-datepicker__day
  {
    color:#ea6226 !important;
    font-weight: 550 !important;
  }
 .react-datepicker__day--outside-month { 
    color: gray !important;
    pointer-events: none !important;
  } 
  .react-datepicker__day--selected
  {
      background-color: bisque !important;
  }
/* ----------- */
.label {
    font-size: 18px;
    margin-top: 1em;
    display: block;
    line-height: 30px;
    font-weight: 400;
  }
.react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected, .react-datepicker__year-text--keyboard-selected {
    border-radius: 0.3rem;
    background-color: bisque !important;
    color: #fff;
}
