.header {
    text-align: center;
    background: #6b6c6e !important;
    min-height: 50px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
  }


  .btn,.btn:hover  {
    background: none !important;
    border: none !important;
    padding: 0px !important;
    text-transform: capitalize !important;
    font-weight: 400 !important;
    font-size: 13px !important;
  }

  .subtitle {
    color: #FFF !important;
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 1em;
  }